.cardsSection {
  position: absolute;
  height: 80%;
  width: 100%;
  display: none;
  align-items: center;
  justify-content: center;
}

#cardsContainer {
  position: relative;
  height: 600px;
  width: 433px;
  opacity: 0;
  transition: all 3s ease-in-out;
}

.cards {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0 auto;
 /* border: 1px solid rgb(255,255,255);*/
  transition: all 0.5s ease-in-out;
  background-color: #f45962;
}