	@media only screen and (min-width: 768px) {
		#cardsContainer {
			height: 450px;
			width: 294px;
		}
		.cards {
			border-radius: 5px;
		}
	}
	
	@media only screen and (max-width: 600px) {
		.wrap {
			background-size: auto 100%;
		}
		.main {
			width: 500px;
			margin-top: 40%;
		}
		.main .logo {
			width: auto;
			height: 350px;
			background-size: auto 350px;
		}
		.main .main_heading {
			width: 100%;
			text-align: center;
		}
		.main a h1 {
			font-size: 52px;
			width: 100%;
		}
	}